<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-category-heading" jhiTranslate="geeksjewerlyApp.category.home.createOrEditLabel">Create or edit a Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!category.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="category.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.category.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="category.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.category.friendlyUrl" for="field_friendlyUrl">Friendly Url</label>
                    <input type="text" class="form-control" name="friendlyUrl" id="field_friendlyUrl"
                        [(ngModel)]="category.friendlyUrl" required/>
                    <div [hidden]="!(editForm.controls.friendlyUrl?.dirty && editForm.controls.friendlyUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.friendlyUrl?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.category.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="category.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.category.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="category.active" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.category.meta" for="field_meta">Meta</label>
                    <input type="text" class="form-control" name="meta" id="field_meta"
                        [(ngModel)]="category.meta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.category.parentId" for="field_parentId">Parent Id</label>
                    <input type="number" class="form-control" name="parentId" id="field_parentId"
                        [(ngModel)]="category.parentId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.category.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="category.type" id="field_type" >
                        <option value="ROOT">{{'geeksjewerlyApp.CategoryType.ROOT' | translate}}</option>
                        <option value="PARENT">{{'geeksjewerlyApp.CategoryType.PARENT' | translate}}</option>
                        <option value="CHILD">{{'geeksjewerlyApp.CategoryType.CHILD' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.category.image" for="field_image">Image</label>
                    <select class="form-control" id="field_image" name="image" [(ngModel)]="category.image">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imageOption.id === category.image?.id ? category.image : imageOption" *ngFor="let imageOption of images; trackBy: trackImageById">{{imageOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.category.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="category.category" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === category.category?.id ? category.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
