<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span jhiTranslate="geeksjewerlyApp.category.detail.title">Category</span> {{category.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geeksjewerlyApp.category.name">Name</span></dt>
                <dd>
                    <span>{{category.name}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.category.friendlyUrl">Friendly Url</span></dt>
                <dd>
                    <span>{{category.friendlyUrl}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.category.description">Description</span></dt>
                <dd>
                    <span>{{category.description}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.category.active">Active</span></dt>
                <dd>
                    <span>{{category.active}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.category.meta">Meta</span></dt>
                <dd>
                    <span>{{category.meta}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.category.parentId">Parent Id</span></dt>
                <dd>
                    <span>{{category.parentId}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.category.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'geeksjewerlyApp.CategoryType.' + category.type}}">{{category.type}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.category.image">Image</span></dt>
                <dd>
                    <div *ngIf="category.image">
                        <a [routerLink]="['/image', category.image?.id, 'view']">{{category.image?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.category.category">Category</span></dt>
                <dd>
                    <div *ngIf="category.category">
                        <a [routerLink]="['/category', category.category?.id, 'view']">{{category.category?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
