<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-order-heading" jhiTranslate="geeksjewerlyApp.order.home.createOrEditLabel">Create or edit a Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!order.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="order.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.customerName" for="field_customerName">Customer Name</label>
                    <input type="text" class="form-control" name="customerName" id="field_customerName"
                        [(ngModel)]="order.customerName" required/>
                    <div [hidden]="!(editForm.controls.customerName?.dirty && editForm.controls.customerName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.customerName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="order.phone" required/>
                    <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.phone?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="order.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="order.address" required/>
                    <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.address?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.orderNumber" for="field_orderNumber">Order Number</label>
                    <input type="number" class="form-control" name="orderNumber" id="field_orderNumber"
                        [(ngModel)]="order.orderNumber" required/>
                    <div [hidden]="!(editForm.controls.orderNumber?.dirty && editForm.controls.orderNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.orderNumber?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.orderNumber?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.createBy" for="field_createBy">Create By</label>
                    <input type="text" class="form-control" name="createBy" id="field_createBy"
                        [(ngModel)]="order.createBy" required/>
                    <div [hidden]="!(editForm.controls.createBy?.dirty && editForm.controls.createBy?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createBy?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.createDate" for="field_createDate">Create Date</label>
                    <div class="input-group">
                        <input id="field_createDate" type="text" class="form-control" name="createDate" ngbDatepicker  #createDateDp="ngbDatepicker" [(ngModel)]="order.createDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.createDate?.dirty && editForm.controls.createDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.modifyBy" for="field_modifyBy">Modify By</label>
                    <input type="text" class="form-control" name="modifyBy" id="field_modifyBy"
                        [(ngModel)]="order.modifyBy" required/>
                    <div [hidden]="!(editForm.controls.modifyBy?.dirty && editForm.controls.modifyBy?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyBy?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="input-group">
                        <input id="field_modifyDate" type="text" class="form-control" name="modifyDate" ngbDatepicker  #modifyDateDp="ngbDatepicker" [(ngModel)]="order.modifyDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifyDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.modifyDate?.dirty && editForm.controls.modifyDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifyDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.deliverType" for="field_deliverType">Deliver Type</label>
                    <select class="form-control" name="deliverType" [(ngModel)]="order.deliverType" id="field_deliverType"  required>
                        <option value="UKR_POST">{{'geeksjewerlyApp.DeliverType.UKR_POST' | translate}}</option>
                        <option value="NEW_POST">{{'geeksjewerlyApp.DeliverType.NEW_POST' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.deliverType?.dirty && editForm.controls.deliverType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.deliverType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.trackNumber" for="field_trackNumber">Track Number</label>
                    <input type="text" class="form-control" name="trackNumber" id="field_trackNumber"
                        [(ngModel)]="order.trackNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.order.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="order.status" id="field_status"  required>
                        <option value="NEW">{{'geeksjewerlyApp.OrderStatus.NEW' | translate}}</option>
                        <option value="QUESTION_TO_SHOP">{{'geeksjewerlyApp.OrderStatus.QUESTION_TO_SHOP' | translate}}</option>
                        <option value="QUESTION_TO_CUSTOMER">{{'geeksjewerlyApp.OrderStatus.QUESTION_TO_CUSTOMER' | translate}}</option>
                        <option value="AGREED">{{'geeksjewerlyApp.OrderStatus.AGREED' | translate}}</option>
                        <option value="COMPILE">{{'geeksjewerlyApp.OrderStatus.COMPILE' | translate}}</option>
                        <option value="COMPILED">{{'geeksjewerlyApp.OrderStatus.COMPILED' | translate}}</option>
                        <option value="TRANSFERRED_TO_DELIVERY">{{'geeksjewerlyApp.OrderStatus.TRANSFERRED_TO_DELIVERY' | translate}}</option>
                        <option value="DELIVERED">{{'geeksjewerlyApp.OrderStatus.DELIVERED' | translate}}</option>
                        <option value="COMPLETED">{{'geeksjewerlyApp.OrderStatus.COMPLETED' | translate}}</option>
                        <option value="RETURN">{{'geeksjewerlyApp.OrderStatus.RETURN' | translate}}</option>
                        <option value="CANCELED">{{'geeksjewerlyApp.OrderStatus.CANCELED' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
