<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span jhiTranslate="geeksjewerlyApp.order.detail.title">Order</span> {{order.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geeksjewerlyApp.order.customerName">Customer Name</span></dt>
                <dd>
                    <span>{{order.customerName}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.phone">Phone</span></dt>
                <dd>
                    <span>{{order.phone}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.email">Email</span></dt>
                <dd>
                    <span>{{order.email}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.address">Address</span></dt>
                <dd>
                    <span>{{order.address}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.orderNumber">Order Number</span></dt>
                <dd>
                    <span>{{order.orderNumber}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.createBy">Create By</span></dt>
                <dd>
                    <span>{{order.createBy}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.createDate">Create Date</span></dt>
                <dd>
                    <span>{{order.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.modifyBy">Modify By</span></dt>
                <dd>
                    <span>{{order.modifyBy}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.modifyDate">Modify Date</span></dt>
                <dd>
                    <span>{{order.modifyDate}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.deliverType">Deliver Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'geeksjewerlyApp.DeliverType.' + order.deliverType}}">{{order.deliverType}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.trackNumber">Track Number</span></dt>
                <dd>
                    <span>{{order.trackNumber}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.order.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'geeksjewerlyApp.OrderStatus.' + order.status}}">{{order.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
