<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ordered-product-heading" jhiTranslate="geeksjewerlyApp.orderedProduct.home.createOrEditLabel">Create or edit a Ordered Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!orderedProduct.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="orderedProduct.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.orderedProduct.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="orderedProduct.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.orderedProduct.article" for="field_article">Article</label>
                    <input type="text" class="form-control" name="article" id="field_article"
                        [(ngModel)]="orderedProduct.article" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.orderedProduct.selectedSize" for="field_selectedSize">Selected Size</label>
                    <input type="text" class="form-control" name="selectedSize" id="field_selectedSize"
                        [(ngModel)]="orderedProduct.selectedSize" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.orderedProduct.color" for="field_color">Color</label>
                    <input type="text" class="form-control" name="color" id="field_color"
                        [(ngModel)]="orderedProduct.color" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.orderedProduct.price" for="field_price">Price</label>
                    <input type="text" class="form-control" name="price" id="field_price"
                        [(ngModel)]="orderedProduct.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.orderedProduct.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="orderedProduct.url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.orderedProduct.productType" for="field_productType">Product Type</label>
                    <select class="form-control" name="productType" [(ngModel)]="orderedProduct.productType" id="field_productType" >
                        <option value="PETIT">{{'geeksjewerlyApp.ProductType.PETIT' | translate}}</option>
                        <option value="PUSET">{{'geeksjewerlyApp.ProductType.PUSET' | translate}}</option>
                        <option value="BRACELET">{{'geeksjewerlyApp.ProductType.BRACELET' | translate}}</option>
                        <option value="BROOCH">{{'geeksjewerlyApp.ProductType.BROOCH' | translate}}</option>
                        <option value="NECKLACE">{{'geeksjewerlyApp.ProductType.NECKLACE' | translate}}</option>
                        <option value="SUSPENSION">{{'geeksjewerlyApp.ProductType.SUSPENSION' | translate}}</option>
                        <option value="PIERCING">{{'geeksjewerlyApp.ProductType.PIERCING' | translate}}</option>
                        <option value="RING">{{'geeksjewerlyApp.ProductType.RING' | translate}}</option>
                        <option value="EARRINGS">{{'geeksjewerlyApp.ProductType.EARRINGS' | translate}}</option>
                        <option value="SHARM">{{'geeksjewerlyApp.ProductType.SHARM' | translate}}</option>
                        <option value="SPOON">{{'geeksjewerlyApp.ProductType.SPOON' | translate}}</option>
                        <option value="KEYCHAIN">{{'geeksjewerlyApp.ProductType.KEYCHAIN' | translate}}</option>
                        <option value="FIGURINE">{{'geeksjewerlyApp.ProductType.FIGURINE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.orderedProduct.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" [(ngModel)]="orderedProduct.order" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderOption.id === orderedProduct.order?.id ? orderedProduct.order : orderOption" *ngFor="let orderOption of orders; trackBy: trackOrderById">{{orderOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
