<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderedProduct">
            <h2><span jhiTranslate="geeksjewerlyApp.orderedProduct.detail.title">Ordered Product</span> {{orderedProduct.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geeksjewerlyApp.orderedProduct.name">Name</span></dt>
                <dd>
                    <span>{{orderedProduct.name}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.orderedProduct.article">Article</span></dt>
                <dd>
                    <span>{{orderedProduct.article}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.orderedProduct.selectedSize">Selected Size</span></dt>
                <dd>
                    <span>{{orderedProduct.selectedSize}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.orderedProduct.color">Color</span></dt>
                <dd>
                    <span>{{orderedProduct.color}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.orderedProduct.price">Price</span></dt>
                <dd>
                    <span>{{orderedProduct.price}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.orderedProduct.url">Url</span></dt>
                <dd>
                    <span>{{orderedProduct.url}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.orderedProduct.productType">Product Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'geeksjewerlyApp.ProductType.' + orderedProduct.productType}}">{{orderedProduct.productType}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.orderedProduct.order">Order</span></dt>
                <dd>
                    <div *ngIf="orderedProduct.order">
                        <a [routerLink]="['/order', orderedProduct.order?.id, 'view']">{{orderedProduct.order?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ordered-product', orderedProduct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
