<div>
    <h2 id="page-heading">
        <span jhiTranslate="geeksjewerlyApp.orderedProduct.home.title">Ordered Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ordered-product" [routerLink]="['/ordered-product/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="geeksjewerlyApp.orderedProduct.home.createLabel">
            Create new Ordered Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'geeksjewerlyApp.orderedProduct.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orderedProducts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.orderedProduct.name">Name</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.orderedProduct.article">Article</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.orderedProduct.selectedSize">Selected Size</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.orderedProduct.color">Color</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.orderedProduct.price">Price</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.orderedProduct.url">Url</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.orderedProduct.productType">Product Type</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.orderedProduct.order">Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderedProduct of orderedProducts ;trackBy: trackId">
                <td><a [routerLink]="['/ordered-product', orderedProduct.id, 'view' ]">{{orderedProduct.id}}</a></td>
                <td>{{orderedProduct.name}}</td>
                <td>{{orderedProduct.article}}</td>
                <td>{{orderedProduct.selectedSize}}</td>
                <td>{{orderedProduct.color}}</td>
                <td>{{orderedProduct.price}}</td>
                <td>{{orderedProduct.url}}</td>
                <td jhiTranslate="{{'geeksjewerlyApp.ProductType.' + orderedProduct.productType}}">{{orderedProduct.productType}}</td>
                <td>
                    <div *ngIf="orderedProduct.order">
                        <a [routerLink]="['../order', orderedProduct.order?.id, 'view' ]" >{{orderedProduct.order?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ordered-product', orderedProduct.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ordered-product', orderedProduct.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ordered-product', { outlets: { popup: orderedProduct.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
