<div>
    <h2 id="page-heading">
        <span jhiTranslate="geeksjewerlyApp.comment.home.title">Comments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comment" [routerLink]="['/comment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="geeksjewerlyApp.comment.home.createLabel">
            Create new Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'geeksjewerlyApp.comment.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.comment.message">Message</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.comment.username">Username</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.comment.submitDate">Submit Date</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.comment.isNew">Is New</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.comment.order">Order</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.comment.product">Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments ;trackBy: trackId">
                <td><a [routerLink]="['/comment', comment.id, 'view' ]">{{comment.id}}</a></td>
                <td>{{comment.message}}</td>
                <td>{{comment.username}}</td>
                <td>{{comment.submitDate | date:'mediumDate'}}</td>
                <td>{{comment.isNew}}</td>
                <td>
                    <div *ngIf="comment.order">
                        <a [routerLink]="['../order', comment.order?.id, 'view' ]" >{{comment.order?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="comment.product">
                        <a [routerLink]="['../product', comment.product?.id, 'view' ]" >{{comment.product?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/comment', comment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/comment', comment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'comment', { outlets: { popup: comment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
