<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span jhiTranslate="geeksjewerlyApp.comment.detail.title">Comment</span> {{comment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geeksjewerlyApp.comment.message">Message</span></dt>
                <dd>
                    <span>{{comment.message}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.comment.username">Username</span></dt>
                <dd>
                    <span>{{comment.username}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.comment.submitDate">Submit Date</span></dt>
                <dd>
                    <span>{{comment.submitDate}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.comment.isNew">Is New</span></dt>
                <dd>
                    <span>{{comment.isNew}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.comment.order">Order</span></dt>
                <dd>
                    <div *ngIf="comment.order">
                        <a [routerLink]="['/order', comment.order?.id, 'view']">{{comment.order?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.comment.product">Product</span></dt>
                <dd>
                    <div *ngIf="comment.product">
                        <a [routerLink]="['/product', comment.product?.id, 'view']">{{comment.product?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
