<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="geeksjewerlyApp.image.detail.title">Image</span> {{image.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geeksjewerlyApp.image.originalName">Original Name</span></dt>
                <dd>
                    <span>{{image.originalName}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.image.url">Url</span></dt>
                <dd>
                    <span>{{image.url}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.image.size">Size</span></dt>
                <dd>
                    <span>{{image.size}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.image.publicId">Public Id</span></dt>
                <dd>
                    <span>{{image.publicId}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.image.version">Version</span></dt>
                <dd>
                    <span>{{image.version}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.image.meta">Meta</span></dt>
                <dd>
                    <span>{{image.meta}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.image.main">Main</span></dt>
                <dd>
                    <span>{{image.main}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.image.product">Product</span></dt>
                <dd>
                    <div *ngIf="image.product">
                        <a [routerLink]="['/product', image.product?.id, 'view']">{{image.product?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
