<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-image-heading" jhiTranslate="geeksjewerlyApp.image.home.createOrEditLabel">Create or edit a Image</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!image.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="image.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.image.originalName" for="field_originalName">Original Name</label>
                    <input type="text" class="form-control" name="originalName" id="field_originalName"
                        [(ngModel)]="image.originalName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.image.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="image.url" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.image.size" for="field_size">Size</label>
                    <input type="number" class="form-control" name="size" id="field_size"
                        [(ngModel)]="image.size" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.image.publicId" for="field_publicId">Public Id</label>
                    <input type="text" class="form-control" name="publicId" id="field_publicId"
                        [(ngModel)]="image.publicId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.image.version" for="field_version">Version</label>
                    <input type="text" class="form-control" name="version" id="field_version"
                        [(ngModel)]="image.version" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.image.meta" for="field_meta">Meta</label>
                    <input type="text" class="form-control" name="meta" id="field_meta"
                        [(ngModel)]="image.meta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.image.main" for="field_main">Main</label>
                    <input type="checkbox" class="form-control" name="main" id="field_main"
                        [(ngModel)]="image.main" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.image.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" [(ngModel)]="image.product" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id === image.product?.id ? image.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
