<div>
    <h2 id="page-heading">
        <span jhiTranslate="geeksjewerlyApp.image.home.title">Images</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-image" [routerLink]="['/image/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="geeksjewerlyApp.image.home.createLabel">
            Create new Image
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'geeksjewerlyApp.image.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="images">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.image.originalName">Original Name</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.image.url">Url</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.image.size">Size</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.image.publicId">Public Id</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.image.version">Version</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.image.meta">Meta</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.image.main">Main</span></th>
            <th><span jhiTranslate="geeksjewerlyApp.image.product">Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let image of images ;trackBy: trackId">
                <td><a [routerLink]="['/image', image.id, 'view' ]">{{image.id}}</a></td>
                <td>{{image.originalName}}</td>
                <td>{{image.url}}</td>
                <td>{{image.size}}</td>
                <td>{{image.publicId}}</td>
                <td>{{image.version}}</td>
                <td>{{image.meta}}</td>
                <td>{{image.main}}</td>
                <td>
                    <div *ngIf="image.product">
                        <a [routerLink]="['../product', image.product?.id, 'view' ]" >{{image.product?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/image', image.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/image', image.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'image', { outlets: { popup: image.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
