<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-heading" jhiTranslate="geeksjewerlyApp.product.home.createOrEditLabel">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!product.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="product.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.productType" for="field_productType">Product Type</label>
                    <select class="form-control" name="productType" [(ngModel)]="product.productType" id="field_productType" >
                        <option value="PETIT">{{'geeksjewerlyApp.ProductType.PETIT' | translate}}</option>
                        <option value="PUSET">{{'geeksjewerlyApp.ProductType.PUSET' | translate}}</option>
                        <option value="BRACELET">{{'geeksjewerlyApp.ProductType.BRACELET' | translate}}</option>
                        <option value="BROOCH">{{'geeksjewerlyApp.ProductType.BROOCH' | translate}}</option>
                        <option value="NECKLACE">{{'geeksjewerlyApp.ProductType.NECKLACE' | translate}}</option>
                        <option value="SUSPENSION">{{'geeksjewerlyApp.ProductType.SUSPENSION' | translate}}</option>
                        <option value="PIERCING">{{'geeksjewerlyApp.ProductType.PIERCING' | translate}}</option>
                        <option value="RING">{{'geeksjewerlyApp.ProductType.RING' | translate}}</option>
                        <option value="EARRINGS">{{'geeksjewerlyApp.ProductType.EARRINGS' | translate}}</option>
                        <option value="SHARM">{{'geeksjewerlyApp.ProductType.SHARM' | translate}}</option>
                        <option value="SPOON">{{'geeksjewerlyApp.ProductType.SPOON' | translate}}</option>
                        <option value="KEYCHAIN">{{'geeksjewerlyApp.ProductType.KEYCHAIN' | translate}}</option>
                        <option value="FIGURINE">{{'geeksjewerlyApp.ProductType.FIGURINE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="product.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.article" for="field_article">Article</label>
                    <input type="text" class="form-control" name="article" id="field_article"
                        [(ngModel)]="product.article" required/>
                    <div [hidden]="!(editForm.controls.article?.dirty && editForm.controls.article?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.article?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.minSize" for="field_minSize">Min Size</label>
                    <input type="number" class="form-control" name="minSize" id="field_minSize"
                        [(ngModel)]="product.minSize" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.maxSize" for="field_maxSize">Max Size</label>
                    <input type="number" class="form-control" name="maxSize" id="field_maxSize"
                        [(ngModel)]="product.maxSize" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.sizes" for="field_sizes">Sizes</label>
                    <input type="text" class="form-control" name="sizes" id="field_sizes"
                        [(ngModel)]="product.sizes" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.rock" for="field_rock">Rock</label>
                    <select class="form-control" name="rock" [(ngModel)]="product.rock" id="field_rock" >
                        <option value="CUBIC_ZIRCON">{{'geeksjewerlyApp.RockType.CUBIC_ZIRCON' | translate}}</option>
                        <option value="PEARLS">{{'geeksjewerlyApp.RockType.PEARLS' | translate}}</option>
                        <option value="NONE">{{'geeksjewerlyApp.RockType.NONE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.material" for="field_material">Material</label>
                    <select class="form-control" name="material" [(ngModel)]="product.material" id="field_material" >
                        <option value="SILVER_925">{{'geeksjewerlyApp.MaterialType.SILVER_925' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.color" for="field_color">Color</label>
                    <select class="form-control" name="color" [(ngModel)]="product.color" id="field_color" >
                        <option value="GREEN">{{'geeksjewerlyApp.ColorType.GREEN' | translate}}</option>
                        <option value="RED">{{'geeksjewerlyApp.ColorType.RED' | translate}}</option>
                        <option value="BLACK">{{'geeksjewerlyApp.ColorType.BLACK' | translate}}</option>
                        <option value="WHITE">{{'geeksjewerlyApp.ColorType.WHITE' | translate}}</option>
                        <option value="ORANGE">{{'geeksjewerlyApp.ColorType.ORANGE' | translate}}</option>
                        <option value="BLUE">{{'geeksjewerlyApp.ColorType.BLUE' | translate}}</option>
                        <option value="LAVANDA">{{'geeksjewerlyApp.ColorType.LAVANDA' | translate}}</option>
                        <option value="YELLOW">{{'geeksjewerlyApp.ColorType.YELLOW' | translate}}</option>
                        <option value="AMETIST">{{'geeksjewerlyApp.ColorType.AMETIST' | translate}}</option>
                        <option value="CYAN">{{'geeksjewerlyApp.ColorType.CYAN' | translate}}</option>
                        <option value="NONE">{{'geeksjewerlyApp.ColorType.NONE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.categoryId" for="field_categoryId">Category Id</label>
                    <input type="number" class="form-control" name="categoryId" id="field_categoryId"
                        [(ngModel)]="product.categoryId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.available" for="field_available">Available</label>
                    <input type="checkbox" class="form-control" name="available" id="field_available"
                        [(ngModel)]="product.available" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.friendlyUrl" for="field_friendlyUrl">Friendly Url</label>
                    <input type="text" class="form-control" name="friendlyUrl" id="field_friendlyUrl"
                        [(ngModel)]="product.friendlyUrl" required/>
                    <div [hidden]="!(editForm.controls.friendlyUrl?.dirty && editForm.controls.friendlyUrl?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.friendlyUrl?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="product.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="geeksjewerlyApp.product.meta" for="field_meta">Meta</label>
                    <input type="text" class="form-control" name="meta" id="field_meta"
                        [(ngModel)]="product.meta" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
