<div>
    <h2 id="page-heading">
        <span jhiTranslate="geeksjewerlyApp.product.home.title">Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product" [routerLink]="['/product/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="geeksjewerlyApp.product.home.createLabel">
            Create new Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'geeksjewerlyApp.product.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="products">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productType"><span jhiTranslate="geeksjewerlyApp.product.productType">Product Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="geeksjewerlyApp.product.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="article"><span jhiTranslate="geeksjewerlyApp.product.article">Article</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minSize"><span jhiTranslate="geeksjewerlyApp.product.minSize">Min Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxSize"><span jhiTranslate="geeksjewerlyApp.product.maxSize">Max Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sizes"><span jhiTranslate="geeksjewerlyApp.product.sizes">Sizes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rock"><span jhiTranslate="geeksjewerlyApp.product.rock">Rock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="material"><span jhiTranslate="geeksjewerlyApp.product.material">Material</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="color"><span jhiTranslate="geeksjewerlyApp.product.color">Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoryId"><span jhiTranslate="geeksjewerlyApp.product.categoryId">Category Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="available"><span jhiTranslate="geeksjewerlyApp.product.available">Available</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="friendlyUrl"><span jhiTranslate="geeksjewerlyApp.product.friendlyUrl">Friendly Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span jhiTranslate="geeksjewerlyApp.product.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="meta"><span jhiTranslate="geeksjewerlyApp.product.meta">Meta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><a [routerLink]="['/product', product.id, 'view' ]">{{product.id}}</a></td>
                <td jhiTranslate="{{'geeksjewerlyApp.ProductType.' + product.productType}}">{{product.productType}}</td>
                <td>{{product.name}}</td>
                <td>{{product.article}}</td>
                <td>{{product.minSize}}</td>
                <td>{{product.maxSize}}</td>
                <td>{{product.sizes}}</td>
                <td jhiTranslate="{{'geeksjewerlyApp.RockType.' + product.rock}}">{{product.rock}}</td>
                <td jhiTranslate="{{'geeksjewerlyApp.MaterialType.' + product.material}}">{{product.material}}</td>
                <td jhiTranslate="{{'geeksjewerlyApp.ColorType.' + product.color}}">{{product.color}}</td>
                <td>{{product.categoryId}}</td>
                <td>{{product.available}}</td>
                <td>{{product.friendlyUrl}}</td>
                <td>{{product.price}}</td>
                <td>{{product.meta}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product', { outlets: { popup: product.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
