<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="geeksjewerlyApp.product.detail.title">Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="geeksjewerlyApp.product.productType">Product Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'geeksjewerlyApp.ProductType.' + product.productType}}">{{product.productType}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.name">Name</span></dt>
                <dd>
                    <span>{{product.name}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.article">Article</span></dt>
                <dd>
                    <span>{{product.article}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.minSize">Min Size</span></dt>
                <dd>
                    <span>{{product.minSize}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.maxSize">Max Size</span></dt>
                <dd>
                    <span>{{product.maxSize}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.sizes">Sizes</span></dt>
                <dd>
                    <span>{{product.sizes}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.rock">Rock</span></dt>
                <dd>
                    <span jhiTranslate="{{'geeksjewerlyApp.RockType.' + product.rock}}">{{product.rock}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.material">Material</span></dt>
                <dd>
                    <span jhiTranslate="{{'geeksjewerlyApp.MaterialType.' + product.material}}">{{product.material}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.color">Color</span></dt>
                <dd>
                    <span jhiTranslate="{{'geeksjewerlyApp.ColorType.' + product.color}}">{{product.color}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.categoryId">Category Id</span></dt>
                <dd>
                    <span>{{product.categoryId}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.available">Available</span></dt>
                <dd>
                    <span>{{product.available}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.friendlyUrl">Friendly Url</span></dt>
                <dd>
                    <span>{{product.friendlyUrl}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.price">Price</span></dt>
                <dd>
                    <span>{{product.price}}</span>
                </dd>
                <dt><span jhiTranslate="geeksjewerlyApp.product.meta">Meta</span></dt>
                <dd>
                    <span>{{product.meta}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
